.teaser-adventure-container .teaser-adventure-wrapper {
  max-width: unset;
  padding: 0;
}

.teaser-adventure {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.teaser-adventure h1,
.teaser-adventure h2,
.teaser-adventure h3,
.teaser-adventure h4,
.teaser-adventure h5,
.teaser-adventure h6,
.teaser-adventure p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.teaser-adventure.no-image * {
  color: var(--text-color);
}

.teaser-adventure picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.teaser-adventure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .teaser-adventure {
    padding: 40px 32px;
  }
}
